@import '_variables';
.switch {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  
  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 2px solid $switcher-border-color;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &::before {
      position: absolute;
      content: "";
      height: 1.4em;
      width: 1.4em;
      left: 0.2em;
      bottom: 0.2em;
      background-color: $primary-white-color;
      border-radius: inherit;
      transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
    }
  }

  & input:checked + &__slider {
    box-shadow: 0 0 10px $primary-main-color;
    border: 2px solid $primary-light-color;
  }
  
  & input:checked + &__slider::before {
    transform: translateX(1.5em);
  }
}
