$body-background-color: #131313;
$switcher-border-color: #414141;

$primary-main-color: rgb(192, 142, 250);
$primary-light-color: rgba(192, 142, 250, 0.26);
$primary-button-color: rgba(192, 142, 250, 0.651);
$primary-white-color: #dfdfdf;