$body-background-color: #121212;
$body-color: #ffffff;
$header-background-color: #33333341;
$footer-background-color: #33333359;
$toggle-label-background-color: #555;
$toggle-label-hover-background-color: #777;
$button-background-color: #4CAF50;
$button-hover-background-color: #45a049;

$primary-main-color: rgb(192, 142, 250);
$primary-light-color: rgba(192, 142, 250, 0.26);
$primary-button-color: rgba(192, 142, 250, 0.651);